{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asia Tours</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <center>
        <h1>
            براء الوحش
        </h1>
    </center>
        

<!--     <h1>Asia Tours Schedual for apr 2025</h1>
    <ul>
        {% for tour in tours %}
            <li>{{tour}}</li>
        {% endfor %}
    </ul>

    <img src="{% static 'images/logo.png' %}" alt="Asia Tours Logo"> -->
</body>
</html>